attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
elasticsearch==6.3.1
idna==2.8
ipython-genutils==0.2.0
jsonschema==3.0.1
jupyter-core==4.5.0
nbformat==4.4.0
plotly==3.7.0
pyrsistent==0.15.2
pytz==2019.1
requests==2.22.0
retrying==1.3.3
six==1.12.0
traitlets==4.3.2
urllib3==1.25.3
