
alembic==1.7.6
appnope==0.1.2
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
certifi==2022.12.07
chardet==4.0.0
cycler==0.11.0
Cython
decorator==4.3.2
defusedxml==0.5.0
elasticsearch==7.16.2
entrypoints==0.3
fuzzywuzzy==0.18.0
graphviz==0.19.1
idna==3.3
ipykernel==6.4.2
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.1
jsonschema==4.4.0
jupyter
jupyter-client==7.4.4
jupyter-console==6.4.0
jupyter-core==4.12
kiwisolver==1.3.2
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.7.2
mistune
mizani==0.9.2
nbconvert==6.5.0
nbformat==5.3.0
nbgrader
nbstripout==0.5.0
notebook==6.4.8
numpy==1.23.5
opensearch-py==2.2.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
plotly==5.5.0
plotnine==0.12.2
prometheus-client==0.13.1
prompt-toolkit==3.0.26
ptyprocess==0.7.0
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.3
pyzmq==25.1.1
qtconsole==5.2.2
requests==2.27.1
retrying==1.3.3
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
#sklearn==1.3.0
SQLAlchemy==1.3.24
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tornado==6.2
tqdm==4.62.3
traitlets
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
xgboost==1.7.6
