services:
  kibana:
    build: ./.docker/kb-docker/. 
    expose:
      - "5601"
    ports:
     - "5601:5601"
    environment:
      SERVER_HOST: "0.0.0.0"
  elasticsearch:
    build: ./.docker/es-docker/.
    ports:
     - "9200:9200"
    expose:
      - "9200"
    environment:
      SERVER_NAME: "elasticsearch"
    volumes:
      - tlre-es-data:/usr/share/elasticsearch/data

volumes:
  tlre-es-data:
    driver: local
