services:
  solr:
    build: .
    expose:
      - "8983"
    ports:
      - "8983:8983"
    volumes:
      - data:/var/solr
    environment:
      SERVER_HOST: "0.0.0.0"
    mem_limit: 4096m
    mem_reservation: 4096m
volumes:
  data:
